@font-face {
  font-family: "cutive_monoregular";
  src: url("cutivemono-regular-webfont.woff2") format("woff2"),
    url("cutivemono-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "cutive_monoregular";
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

footer a {
  color: black;
  text-decoration: none;
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

.cv-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.5fr 2fr 1fr;
  grid-template-areas:
    "header header"
    "form preview"
    "footer footer";
  justify-items: center;
}

.cv-form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
}

.cv-preview {
  grid-area: preview;
}

.header {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.header img {
  align-self: center;
}

.personal-info__form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.personal-info label {
  display: flex;
  justify-content: space-between;
}
input {
  width: 70%;
}

textarea {
  width: 100%;
}

.skills__form {
  display: flex;
  flex-direction: column;
}

.skills__form label {
  display: flex;
  justify-content: space-between;
}

.skills__form button {
  align-self: flex-start;
  padding: 0.2rem 0.5rem;
  border: none;
  background-color: transparent;
}

.skills__form button:hover {
  cursor: pointer;
  font-weight: bold;
}

.skill__group {
  border: 2px dotted black;
  padding: 8px;
}
